[app]
debug = false

[tensorflow]
model_dir = model
tflite_file = detect.tflite
labels = labelmap.txt
threshold = 0.5
edgetpu = false

[mqtt]
broker = 127.0.0.1
username = user
password = test
topic = test/topic

[volumio]
playlist = My Playlist

[webcam]
resolution = 1280x720